.Layout {
	flex-shrink: 0;
	border-radius: 530px;
	border: 1px solid var(--Black-blue, #42567A);
	opacity: 0.2;
	color: #42567A;
	margin: 215px 0 0 775px;
	position: fixed;
	width: 530px;
	height: 530px;
}