.Layout {
	color: var(--Black-blue, #42567A);
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	width: 320px;
	position: fixed;
	margin: 886px 0 0 400px;
}