.Layout {
	width: 973px;
	height: 160px;
	margin: 400px 410px 520px 537px;
	text-align: center;
	position: fixed;
	font-family: 'PT Sans', sans-serif;
	font-size: 200px;
	font-style: normal;
	font-weight: 700;
	line-height: 160px;
	letter-spacing: -4px;
}

.Text1992 {
	color: var(--Iris-100, #5D5FEF);
}

.Text1997 {
	color: var(--Fuschia-100, #EF5DA8);
}
