.Layout {
	height: 120px;
	flex-shrink: 0;
	stroke-width: 5px;
	stroke: #3877EE;
	position: fixed;
	margin: 177px 1598px 783px 322px;
	background: linear-gradient(to center, #3877EE 100%, #EF5DA8 100%);
}