.Layout {
	color: #3877EE;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
	margin: 841px 0 0 800px;
	position: fixed;
	width: 41px;
	height: 30px;
}