.Text {
	color: var(--Black-blue, #42567A);
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	margin: 228px 0 0 1196px;
	position: fixed;
}